.backgroundContainer {
  background: #00000071;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContainer {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1rem;
  background: #fff;
}

.showBackground {
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
}

.hideBackground {
  opacity: 0;
  visibility: hidden;
  /* transition: opacity 0.5s ease, visibility 0.5s ease; */
}

.showModalWindow {
  transform: translateY(0);
  pointer-events: auto;
  transition: transform 0.5s ease;
}

.hideModalWindow {
  transform: translateY(-100%);
  pointer-events: none;
  /* transition: transform 0.5s ease; */
}
